/* ==========================
   Library Forest Animation
========================== */

/* 구름 애니메이션 */

@keyframes cloudMove1{

    0%{
        left:-320px;
    }

    100%{
        left:110%;
    }

}

@keyframes cloudMove2{

    0%{
        left:-250px;
    }

    100%{
        left:110%;
    }

}

/* 화면을 터치하세요 */

@keyframes touchPulse{

    0%{

        transform:
        translateX(-50%)
        scale(1);

    }

    50%{

        transform:
        translateX(-50%)
        scale(1.08);

    }

    100%{

        transform:
        translateX(-50%)
        scale(1);

    }

}

#touchButton{

    animation:
    touchPulse
    2s ease-in-out infinite;

}
/* ==========================
   구름
========================== */

#sky{

    position:absolute;

    top:0;
    left:0;

    width:100%;
    height:100%;

    overflow:hidden;

}

.cloud{

    position:absolute;

    pointer-events:none;

}

.cloud1{

    top:70px;
    left:-320px;

    width:170px;

    opacity:0.9;

    animation:
    cloudMove1
    70s linear infinite;

}
